---
title: Index page
paymentHeader: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<div class="pay">
	<!-- begin steps -->
	<div class="pay-steps">
		<div class="pay-steps__inner">
			<ul class="pay-steps__list">
				{% for item in [
					{
						classList: 'is-prev',
						icon: 'fa fa-cogs',
						title: 'Step 1'
					},
					{
						classList: 'is-active',
						icon: 'fa fa-cogs',
						title: 'Step 2'
					},
					{
						icon: 'fa fa-cogs',
						title: 'Step 3'
					}
				] %}
					<li class="pay-steps__item {{item.classList}}">
						<div class="pay-steps__icon">
							<i class="{{item.icon}}"></i>
						</div>
						<div class="pay-steps__title">{{item.title}}</div>
					</li>
				{% endfor %}
			</ul>
			<div class="pay-steps__line">
				<div class="pay-steps__line-in" style="transform: translate3d(-50%,0,0);"></div>
			</div>
		</div>
	</div>
	<!-- end steps -->

	<!-- begin body -->
	<div class="pay__body">
		<div class="pay__section">
			<!-- begin footer -->
			<a href="#" class="pay__back">
				<i class="fa fa-angle-left"></i>
				<span>Previous</span>
			</a>
			<div class="pay__footer">
				<button class="v-btn v-btn_wide pay__btn">Complete</button>
			</div>
			<!-- end footer -->
			
			<!-- begin inner -->
			<div class="pay__inner pay__vertical">
				<div class="pay__container pay__center">
					<div class="pay-form pay-form_splitted">
						<div class="pay-form__field pay-form__field_middle">
							<div class="pay-price">
								<div class="pay-price__label">
									<small>$</small>
									<strong data-price="39.99">39.99</strong> 
									mo per register
								</div>
							</div>
							<div class="spinner" data-spinner>
								<button class="spinner__minus" type="button" data-spinner-control="down" disabled></button>
								<button class="spinner__plus" type="button" data-spinner-control="up"></button>
								<input 
									type="text" 
									value="1" 
									data-spinner-input 
									data-min="1"
									data-max="100"
									class="form-control input-lg spinner__input">
							</div>
							<div class="pay-price">
								<div class="pay-price__label">Total:</div>
								<div class="pay-price__main">
									<small>$</small>
									<strong data-total>39.99</strong>
								</div>
							</div>
						</div>
						<div class="pay-form__field pay-form__field_middle">
							<h2 class="pay-form__title">Payment Method</h2>
							{% for cols in [
								[
									{
										label: {
											for: 'FirstName',
											title: 'First Name',
											classList: 'pay-form__label',
											required: true
										}
									},
									{
										label: {
											for: 'LastName',
											title: 'Last Name',
											classList: 'pay-form__label',
											required: true
										}
									}
								],
								[
									{
										label: {
											for: 'CardNumber',
											title: 'Card Number',
											classList: 'pay-form__label',
											required: true
										}
									}
								],
								[
									{
										label: {
											for: 'ExpirationDate',
											title: 'Expiration Date',
											classList: 'pay-form__label',
											required: true
										},
										selects: [
											[ '01', '02', '03', '04' ],
											[ '2018', '2019', '2020', '2021' ]
										]
									},
									{
										label: {
											for: 'SecurityCode',
											title: 'Security Code',
											classList: 'pay-form__label',
											required: true
										}
									}
								]
							] %}
								<div class="pay-form__row">
									{% for item in cols %}
										<div class="pay-form__col {% if cols.length == 2 %}pay-form__col_md pay-form__col_xs-lg{% endif %}">
											{{mixins.label(item.label)}}
											{% if item.selects %}
												<div class="pay-form__row">
													{% for select in item.selects %}
														<div class="pay-form__col pay-form__col_md">
															<select class="v-select">
																{% for option in select %}
																	<option value="{{option}}">{{option}}</option>
																{% endfor %}
															</select>
														</div>
													{% endfor %}
												</div>
											{% else %}
												<input type="{{item.type or 'text'}}" name="{{item.label.for}}" id="{{item.label.for}}" class="v-input" {{item.attrs | safe}}>
											{% endif %}
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- end inner -->
		</div>
	</div>
	<!-- end body -->
</div>

{% endblock %}
