<!-- begin pay-number -->
<div class="pay-number">
	<div class="pay-price">
		<div class="pay-price__label"> 
			<small>$</small> 
			<strong data-price="39.99">39.99</strong> 
			mo per register 
		</div>
	</div>
	<div class="spinner" data-spinner> 
		<button class="spinner__minus" type="button" data-spinner-control="down" disabled></button> 
		<button class="spinner__plus" type="button" data-spinner-control="up"></button> 
		<input type="text" value="1" data-spinner-input data-min="1" data-max="100" class="form-control input-lg spinner__input">
	</div>
	<div class="pay-price">
		<div class="pay-price__label">Total:</div>
		<div class="pay-price__main"> 
			<small>$</small> 
			<strong data-total>39.99</strong> 
		</div>
	</div>
	{% if paymentCoupon %}
		<div class="field pay-number__field">
			{#{{mixins.label({
				for: 'CouponСode',
				title: 'Coupon сode:',
				classList: 'field__label'
			})}}#}
			<div class="field__container">
				<div class="field__row">
					<div class="field__input">
						<input type="text" id="CouponСode" class="v-input" data-coupon="input" placeholder="Enter Coupon">
						<div class="field__error-message error-message">Coupon is invalid</div>
					</div>
					<div class="field__button">
						<button class="v-btn v-btn_sm" data-coupon="button" type="button">Apply</button>
						<a href="#" class="field__text" data-coupon="cancel" hidden>Cancel</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="pay-number__description">NOTE: If you are using Poynt terminal, <a target="_blank" href="https://ehoppersupport.zendesk.com/hc/en-us/articles/360000788408">click here</a></div>
</div>
<!-- end pay-number -->