<!-- begin pay-number -->
<div class="pay-number">
	<div class="pay-price">
		<div class="pay-price__label"> 
			<small>$</small> 
			<strong data-price="39.99">39.99</strong> 
			mo per register 
		</div>
	</div>
	<div class="spinner" data-spinner> 
		<button class="spinner__minus" type="button" data-spinner-control="down" disabled></button> 
		<button class="spinner__plus" type="button" data-spinner-control="up"></button> 
		<input type="text" value="1" data-spinner-input data-min="1" data-max="100" class="form-control input-lg spinner__input">
	</div>
	<div class="pay-price">
		<div class="pay-price__label">Total:</div>
		<div class="pay-price__main"> 
			<small>$</small> 
			<strong data-total>39.99</strong> 
		</div>
	</div>
</div>
<!-- end pay-number -->