---
title: Welcome
---
{% extends "layouts/_iframe-layout.html" %}

{% block content %}

	{% for item in [
		{
			lang: 'en',
			title: 'Welcome to eHopper',
			content: [
				'We are very excited to help you take the first steps in joining a community of the many other retailers and merchants who are choosing a smarter, easier, and better way of doing business!'
			]
		}
	] %}
		<div class="g-box-iframe">
			<div class="g-box-iframe__center">
				<h3>{{item.title}}</h3>
				{% for item in item.content %}
					<p>{{item | safe}}</p>
				{% endfor %}
			</div>
		</div>
	{% endfor %}

{% endblock %}