.field
	text-align: left
	&__label
		margin-bottom: 10px
		color: $text
		font-size: 14px
		line-height: 16px
	&__container
		display: table
		table-layout: fixed
		width: 100%
	&__row
		display: table-row
	&__input,
	&__button
		display: table-cell
		vertical-align: top
	&__button
		padding-left: 20px
		width: 120px
	&__text
		padding: 0 14px
		color: $text
		font-size: 14px
		font-weight: 700
		line-height: 44px
