{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    {#<link rel="stylesheet" href="onboarding.css">#}
    <link rel="stylesheet" href="../css/onboarding.css">
  </head>
  <body>

    <!-- BEGIN content -->
    {% block content %}{% endblock %}
    <!-- END content -->
    
    {#<script>
      //START SHOW CURRENT CONTENT
      (function() {
        
        var defaultLang = 'en';
        var ACTIVE = 'is-active';

        var items = document.querySelectorAll('[data-lang]');
        var defaultItem = document.querySelector('[data-lang="' + defaultLang + '"]');

        function showCurrent(activeLang) {
          var activeItem = null;

          Array.prototype.forEach.call(items, function(item) {
            item.classList.remove(ACTIVE);
            if (activeLang === item.getAttribute('data-lang')) {
              item.classList.add(ACTIVE);
              activeItem = item;
            }
          });
          
          (!activeItem && defaultItem) && defaultItem.classList.add(ACTIVE);
        }

        window.addEventListener("message", function(e) {
          showCurrent(e.data);
        });

      })();
      //END SHOW CURRENT CONTENT
    </script>#}

  </body>
</html>
