.pay
	padding: 10px 20px 40px
	margin: 0 auto
	max-width: 540px
	text-align: center
	&__section
		padding: 40px 0 30px
		&:not(:first-child)
			border-top: 2px solid rgba($gray, 0.5)
	&__form
		padding: 10px 0
		text-align: left
	&__row 
		position: relative
		padding: 10px 0
		margin: 0 -10px
		font-size: 0
	&__col 
		padding: 0 10px
		&_md 
			display: inline-block
			vertical-align: top
			width: 50%
		&_xs-wide
			+xs 
				width: 100%
			&:not(:first-child)
				+xs 
					padding-top: 20px
		.pay__row 
			padding-top: 0
			padding-bottom: 0
	&__label
		margin-bottom: 10px
		font-size: 14px
		line-height: 16px
		&_inline 
			margin: 0 0 0 10px
	&__description
		padding-top: 30px
		padding-bottom: 10px
		text-align: left
	&__submit
		margin: 0 auto
		max-width: 300px
	.v-form-hint
		+md 
			position: relative
			top: auto 
			left: auto 
			right: auto 
			bottom: auto
			margin: 10px 10px 0
			width: auto
			+gpu
		&:before,
		&:after
			+md 
				display: none

.pay-number
	&__field
		padding: 0 0 30px
		margin: 0 auto
		max-width: 300px
		+sm 
			max-width: 100%